<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>HH Autoczęśći</h3>
      <hr class="divider">
      <ul>
        <li>d</li>
        <li>e</li>
        <li>d</li>
      </ul>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
 <div class="gmap">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.0084612318324!2d19.198430015267125!3d49.682498550280634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471426279d36526f%3A0x3c8cc477d1c65463!2sWincentego+Witosa+40%2C+%C5%BBywiec!5e1!3m2!1spl!2spl!4v1456141215287" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>